@charset 'UTF-8';

@font-face {
  font-family: AFDiwa;
  src: url('../fonts/webfonts/AFDiwa.eot');
  src: url('../fonts/webfonts/AFDiwa.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/AFDiwa.woff') format('woff'), 
  url('../fonts/webfonts/AFDiwa.ttf') format('truetype');
}

@font-face {
  font-family: AFDiwaLight;
  src: url('../fonts/webfonts/286144_1_0.eot');
  src: url('../fonts/webfonts/286144_1_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/286144_1_0.woff') format('woff'),
  url('../fonts/webfonts/286144_1_0.ttf') format('truetype');
}


@font-face {
  font-family: AFDiwaExtraLight;
  src: url('../fonts/webfonts/AFDiwaExtraLight.eot');
  src: url('../fonts/webfonts/AFDiwaExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/AFDiwaExtraLight.woff') format('woff'), 
  url('../fonts/webfonts/AFDiwaExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: AFDiwaBold;
  src: url('../fonts/webfonts/286144_0_0.eot');
  src: url('../fonts/webfonts/286144_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/286144_0_0.woff') format('woff'), 
  url('../fonts/webfonts/286144_0_0.ttf') format('truetype');
}


@font-face {
  font-family: AFDiwaExtraBold;
  src: url('../fonts/webfonts/AFDiwaExtraBold.eot');
  src: url('../fonts/webfonts/AFDiwaExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/AFDiwaExtraBold.woff') format('woff'), 
  url('../fonts/webfonts/AFDiwaExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: ArialBold;
  src: url('../fonts/webfonts/arialbd.eot');
  src: url('../fonts/webfonts/arialbd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/arialbd.woff') format('woff'), 
  url('../fonts/webfonts/arialbd.ttf') format('truetype');
}

@font-face {
  font-family: TahomaBold;
  src: url('../fonts/webfonts/tahomabd.eot');
  src: url('../fonts/webfonts/tahomabd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/tahomabd.woff') format('woff'), 
  url('../fonts/webfonts/tahomabd.ttf') format('truetype');
}